
.nav{
flex-direction: column;
}
.navbar{
   justify-content: center; 
}
.services{
    flex-direction: column;
}
.box { 
    width: 92vw;
    padding: auto;
    margin: 3px; 
    margin-left: 6px;
    margin-bottom: 20px;
}
.clients{
   flex-wrap: wrap;
}
.bg-pic{
    height: 40vh;
}
input{
    width: 80vw;
}
textarea{
    width: 80vw;
}
footer{
    margin-top: 80px;
}